<div class="row">
  <div class="col-1-2">
    <div ng-if="loading.opportunities" class="well">
      <h3><i class="icon icon-spinner icon-spin"></i> Loading opportunities...</h3>
    </div>

    <div ng-if="! loading.opportunities">
      <h3>Available Opportunities</h3>

      <div ng-if="! opportunities.length" class="jumbotron">
        <h3>No opportunities available!</h3>
        <p>
          There aren't any opportunities currently available for submission.
        </p>
      </div>

      <p ng-if="opportunities.length">
        Listed below are the currently open/available submission opportunities
        to which you may submit an allocation request.
      </p>

      <div class="xras-list">
        <div class="opportunity xras-list-item"
          ng-repeat="opportunity in opportunities|orderBy:opportunitySort"
          ng-include="'views/opportunitySummary.html'"
        ></div>
      </div>
    </div>
  </div>

  <div class="col-1-2">
    <div ng-if="loading.requests" class="well">
      <h3><i class="icon icon-spinner icon-spin"></i> Loading requests...</h3>
    </div>

    <div ng-if="! loading.requests">
      <h3>Requests</h3>

      <div ng-if="! requests.length" class="jumbotron">
        <h3>No requests to display!</h3>
        <p>
          Select from the Available Opportunities on the left to start a new
          Request.
        </p>
      </div>

      <ul class="nav nav-pills">
        <li ng-repeat="status in statuses" ng-class="{'active': requestFilter === status}">
          <a ng-click="filterRequestList(status);">
            {{status}} <span class="badge">{{(filtered = requests|filter:{requestStatus:status}:true).length}}</span>
          </a>
        </li>
      </ul>
      <div ng-repeat="request in requests|filter:{requestStatus:requestFilter}:true" ng-include="'views/requestSummary.html'"></div>
    </div>
  </div>
</div>
