<div ng-repeat="message in messages">
  <div class="alert alert-{{message.type}} alert-dismissable">
    <button type="button" class="close" ng-click="close($index);">&times;</button>
    <i ng-show="message.icon" class="icon icon-{{message.icon}}"></i>
    {{message.text}}
  </div>
</div>