<h3>
  <a href="#/opportunities/{{opportunity.opportunityId}}">
    <span ng-if="opportunity.displayOpportunityName">{{opportunity.displayOpportunityName}}</span>
    <span ng-if="!opportunity.displayOpportunityName">{{opportunity.opportunityName}}</span>
    <small>{{opportunity.allocationType}}</small>
  </a>
</h3>

<p ng-if="opportunity.opportunityType === 'Terminating'" class="alert alert-info">
  <i class="icon icon-calendar"></i>
  Submission period: {{opportunity.submissionBeginDate}} - {{opportunity.submissionEndDate}}
</p>

<div ng-if="opportunity.rules.noAvailableActionsReason" class="alert alert-warning">
  <p ng-repeat="reason in opportunity.rules.noAvailableActionsReason">{{reason}}</p>
</div>

<a ng-if="canSubmitNew(opportunity);" href="#/opportunities/{{opportunity.opportunityId}}/new-request" class="btn btn-default">Start a New Submission</a>
<a ng-repeat="renewal in opportunity.rules.availableActionRequests" href="#/opportunities/{{opportunity.opportunityId}}/renewal/{{renewal.requestId}}" class="btn btn-default">Submit Renewal for {{renewal.requestNumber}}</a>
