<h3>Edit {{action.actionType}} Action</h3>

<form name="editActionForm" ng-if="loaded" ng-submit="validateAndSubmit();">

  <fieldset ng-if="action.actionType === 'Transfer' || action.actionType === 'Supplement'" class="form-group">
    <legend>Resources</legend>
    <div class="callout">
      To request a transfer of SUs between resources, please check the
      <a target="_blank" href="https://www.xsede.org/su-converter">SU Converter</a>
      to calculate the correct numbers for your transfer request.
    </div>

    <div ng-controller="RequestFormResourcesCtrl" ng-include="'views/requestForm/requestResources.html'"></div>
  </fieldset>

  <fieldset ng-if="action.actionType === 'Extension'" class="form-group">
    <legend>Extension</legend>

    <label>Please select your desired extension duration</label>
    <select class="form-control" ng-model="action.allocationDates[0].endDate" ng-options="ext.date as ext.label for ext in dates.extensions">
      <option value="">Choose one</option>
    </select>
  </fieldset>

  <fieldset class="form-group">
    <legend>Comments/Justification</legend>

    <label>Enter comments/justification</label>
    <textarea class="form-control" rows="10" placeholder="Please provide any comments or justification for this request." ng-model="action.userComments"></textarea>
  </fieldset>

  <div class="form-actions">
    <button type="submit" class="btn btn-success"><i class="icon icon-ok"></i> Submit</button>
    <button type="button" class="btn btn-default" ng-click="saveAction();"><i class="icon icon-time"></i> Save Changes</button>
    <a href="#/requests/{{request.requestId}}" class="btn btn-default">Cancel</a>
  </div>

</form>
