<h4>{{opportunity.allocationType}} Request</h4>

<div ng-if="opportunity.allocationType">
	<p ng-bind-html="summaryInfo"></p>
	<h4>To complete this request you should have the following information ready:</h4>
	<div xras-requirements allocation-type="opportunity.allocationType" action-type="renewalId ? 'renewal' : 'new'"></div>
</div>

<button ng-click="createRequest(false);" class="btn btn-success">
	<i class="icon icon-magic"></i>
	Start Submission
</button>

<button ng-click="createRequest(true);" class="btn btn-default">
	<i class="icon icon-bolt"></i>
	Advanced Submission
</button>

<a href="#/opportunities/{{opportunity.opportunityId}}" class="btn btn-default">Cancel</a>
