.request-resource::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
}

.request-resource:last-child::after {
  display: none;
  border: 0;
}

.resource-btn {
  text-transform: none;
  white-space: normal;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0;
}

.request-resource {
  @include animate-fade();
}
