[class*=col-] {
  float: left;
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}

.col-1-5 {
  width: 20%;
}

.col-2-5 {
  width: 40%;
}

.col-3-5 {
  width: 60%;
}

.col-4-5 {
  width: 80%;
}

.col-1-4 {
  width: 25%;
}

.col-1-3 {
  width: 33.3%;
}

.col-1-2, .col-2-4 {
  width: 50%;
}

.col-2-3 {
  width: 66.7%;
}

.col-3-4 {
  width: 75%;
}

.col-1-1 {
  width: 100%;
}
