<div><b>{{attributeSet.attributeSetName}}</b></div>
<div ng-repeat="attribute in attributeSet.attributes" class="radio">
  <label>
    <input type="radio" name="attributeSet_{{attributeSet.attributeSetId}}" ng-model="values[attribute.attributeId].attributeValue" ng-value="attribute.attributeName">
    {{attribute.attributeName}}
  </label>
</div>
