<td><b>{{attributeSet.attributeSetName}}</b></td>
<td>
  <p ng-repeat="attr in attributeSet.attributes" ng-if="values[attr.attributeId].attributeValue">
    {{attr.attributeName}}: {{values[attr.attributeId].attributeValue}}
  </p>
</td>
