<div ng-if="loading">
  <div class="lead text-center">
    <i class="icon icon-spinner icon-spin"></i> Loading...
  </div>
</div>
<div ng-hide="loading">
<h2>
  <button type="button" class="btn btn-default pull-right" ng-click="guided();"><i class="icon icon-magic"></i> Guided</button>
  {{request.requestType}} Request<br>
  <small>Submission for {{opportunity.displayOpportunityName}}</small>
</h2>

<form method="post" ng-submit="saveRequest();">

  <fieldset>
    <legend>Information and Abstract</legend>
    <div ng-controller="RequestFormInfoCtrl" ng-include="'views/requestForm/requestInfo.html'"></div>
  </fieldset>

  <fieldset>
    <legend>Personnel / Roles</legend>
    <h4>PI, Co-PIs, and Allocation Managers</h4>
    <div ng-controller="RequestFormRoleCtrl" ng-include="'views/requestForm/requestRoles.html'"></div>

    <hr>

    <h4>Users</h4>
    <p><button type="button" class="btn btn-default" ng-click="showAddUsers = ! showAddUsers"><i class="icon icon-group"></i> Add Users</button></p>
    <div ng-show="showAddUsers" ng-controller="RequestFormUserCtrl" ng-include="'views/requestForm/requestUsers.html'"></div>
  </fieldset>

  <fieldset ng-hide="opportunity.attributeSets.length === 0">
    <legend>Resource Information</legend>
    <div ng-controller="RequestFormOpportunityCtrl" ng-include="'views/requestForm/requestOpportunity.html'"></div>
  </fieldset>

  <fieldset>
    <legend>Specify Resources</legend>
    <div ng-controller="RequestFormResourcesCtrl" ng-include="'views/requestForm/requestResources.html'"></div>
  </fieldset>

  <fieldset>
    <legend>Supporting Documents</legend>
    <div ng-controller="RequestFormDocumentsCtrl" ng-include="'views/requestForm/requestDocuments.html'"></div>
  </fieldset>

  <fieldset>
    <legend>Supporting Grants (Optional)</legend>
    <div ng-controller="RequestFormGrantsCtrl" ng-include="'views/requestForm/requestGrants.html'"></div>
  </fieldset>

  <fieldset>
    <legend>Publications</legend>
    <div ng-controller="RequestFormPublicationsCtrl" ng-include="'views/requestForm/requestPublications.html'"></div>
  </fieldset>

  <hr>

  <div class="form-actions">
    <button type="submit" class="btn btn-success" ng-disabled="saving">Save Request</button>
    <button type="button" class="btn btn-default" ng-disabled="saving" ng-click="cancel();">Cancel</button>
    <span ng-if="saving" class="form-status">
      <i class="icon icon-spinner icon-spin"></i> Saving changes...
    </span>
  </div>
</form>
</div>
