<div ng-if="opportunity.allocationType === 'Startup'" class="callout">
  <b>NSF Fellows:</b>
  NSF Fellows applying as a Principal Investigator on a request <b>must</b>
  include their NSF Fellowship Grant information below. Failure to provide
  this information will prevent or delay the acceptance of your request!
</div>

<ol>
  <li ng-repeat="grant in request.grants">
    <b>{{grant.title}}</b> ({{grant.grantNumber}})
    <div class="row">
      <div class="col-2-3">
        <ul class="list-unstyled">
          <li>
            <b>Funding agency:</b> {{fundingAgencyMap[grant.fundingAgencyId].fundingAgencyName}}
          </li>
          <li ng-if="grant.programOfficerName">
            <b>Program Officer:</b> <a href="mailto:{{grant.programOfficerEmail}}">{{grant.programOfficerName}} &lt;{{grant.programOfficerEmail}}&gt;</a>
          </li>
          <li ng-if="grant.piName">
            <b>PI:</b> {{grant.piName}}
          </li>
          <li ng-if="grant.beginDate && grant.endDate">
            <b>Dates:</b> {{grant.beginDate}} - {{grant.endDate}}
          </li>
          <li ng-if="grant.awardedAmount">
            <b>Award:</b> ${{grant.awardedAmount}} ({{grant.percentageAward}}% support)
          </li>
        </ul>
      </div>
      <div class="col-1-3 text-right">
        <button type="button" class="btn btn-sm btn-default" ng-click="edit($index, grant);" title="Edit this grant"><i class="icon icon-edit"></i> Edit</button>
        <button type="button" class="btn btn-sm btn-danger" ng-click="remove($index, grant);" title="Remove this grant">&times;</button>
      </div>
    </div>
  </li>
</ol>

<button type="button" class="btn btn-sm btn-default" ng-if="!editing" ng-click="add();">Add a Supporting Grant</button>
<div ng-if="editing">
  <div class="form-group">
    <div class="row">
      <div class="col-2-3">
        <label>Title</label>
        <input type="text" class="form-control" ng-model="editing.title" placeholder="Grant Title">
      </div>

      <div class="col-1-3">
        <label>Grant Number</label>
        <input type="text" class="form-control" ng-model="editing.grantNumber" placeholder="Grant number">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-1-3">
        <label>Funding Agency</label>
        <select class="form-control" ng-model="editing.fundingAgencyId" ng-options="fa.fundingAgencyId as fa.fundingAgencyName for fa in fundingAgencyList | orderBy:'fundingAgencyName'">
          <option value="">Choose Funding Agency</option>
        </select>
      </div>
      <div class="col-1-3">
        <label>Program Officer</label>
        <input type="text" class="form-control" ng-model="editing.programOfficerName" placeholder="Name of Program Officer">
      </div>
      <div class="col-1-3">
        <label>Program Officer Email</label>
        <input type="text" class="form-control" ng-model="editing.programOfficerEmail" placeholder="Email of Program Officer">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-1-3">
        <label>PI</label>
        <input type="text" class="form-control" ng-model="editing.piName" placeholder="Name of the PI on the Grant">
      </div>

      <div class="col-1-3">
        <label>Begin date</label>
        <input type="text" class="form-control" ng-model="editing.beginDate" placeholder="YYYY-MM-DD">
      </div>
      <div class="col-1-3">
        <label>End date</label>
        <input type="text" class="form-control" ng-model="editing.endDate" placeholder="YYYY-MM-DD">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-1-3">
        <label>Award Amount</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control" ng-model="editing.awardedAmount" placeholder="Award amount">
        </div>
        <input type="hidden" ng-model="editing.awardedUnits" value="Dollars">
      </div>
      <div class="col-1-3">
        <label>Percentage Support</label>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="editing.percentageAward" placeholder="Percentage of support for this work">
          <span class="input-group-addon">%</span>
        </div>
      </div>
      <div class="col-1-3">
        <label>Grant Primary Field of Science</label>
        <select class="form-control" ng-model="editing.primaryFosTypeId" ng-options="field.fosTypeId as field.fosName for field in fields|orderBy:'fosName'">
          <option value="">Select Field of Science</option>
        </select>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-sm btn-success" ng-click="submit();">Add Grant to Request</button>
  <button type="button" class="btn btn-sm btn-default" ng-click="cancel();">Cancel</button>
</div>
