<div class="row">
  <div class="col-1-4">
    <a class="resource-btn btn btn-block btn-default"
      ng-repeat="ores in opportunity.resources | filter:{resourceState:'Production'}:true | orderBy:'resourceName'"
      ng-class="{'btn-primary active': selectedResources[ores.resourceId].selected, 'required': selectedResources[ores.resourceId].required}"
      ng-click="selectResource(ores);">
      {{ores.displayResourceName}}
      <span ng-if="selectedResources[ores.resourceId].required">(required)</span>
    </a>
  </div>

  <div class="col-3-4">
    <div ng-repeat="res in action.resources | orderBy:'resourceName'" class="request-resource">
      <h4>{{res.resourceName}}</h4>

      <p ng-show="selectedResources[res.resourceId].description" ng-bind-html="selectedResources[res.resourceId].description"></p>

      <div class="callout"
        ng-show="opportunityResourceIndex[res.resourceId].siteProviderComments"
        ng-bind-html="opportunityResourceIndex[res.resourceId].siteProviderComments">
      </div>

      <div ng-if="!dependenciesMet(res);" class="alert alert-warning">
        In order to request this resource, you must also request one of the following resources:
        <ul>
          <li ng-repeat="dep in opportunityResourceIndex[res.resourceId].requiredResources">
            <button class="btn btn-link" ng-click="selectResource(dep);">{{dep.resourceName}}</button>
          </li>
        </ul>
      </div>

      <div class="form-group">
        <label>Amount requested</label>
        <div class="input-group">
          <input type="text" ng-model="res.amount" class="form-control">
          <span class="input-group-addon">{{selectedResources[res.resourceId].units}}</span>
        </div>
      </div>

      <div class="form-group">
        <label>Comments</label>
        <textarea ng-model="res.comments" class="form-control"></textarea>
      </div>

      <div ng-if="selectedResources[res.resourceId].attributeSets">
        <div ng-repeat="attrSet in selectedResources[res.resourceId].attributeSets"
          xras-attr-set-form attribute-set="attrSet" values="resourceAttributeMap[res.resourceId]">
        </div>
      </div>
    </div>
  </div>
</div>
