<div class="callout">
  The following documents are required:
  <ul>
    <li ng-repeat="req in documentRequirements">{{req}}</li>
  </ul>
</div>

<ol>
  <li ng-repeat="doc in action.documents">
    <b>{{doc.title}}</b>
    <div class="row">
      <div class="col-2-3">
        <ul class="list-unstyled">
          <li><b>Type:</b> {{docTypesIndex[doc.documentType].displayDocumentType}}</li>
          <li><b>File:</b> {{doc.filename}} ({{convertBytes(doc.size)}})</li>
        </ul>
      </div>
      <div class="col-1-3 text-right">
        <a download="{{doc.filename}}" href="{{downloadDocumentUrl(doc)}}" class="btn btn-sm btn-default"><i class="icon icon-download"></i> Download</a>
        <button type="button" ng-click="removeDocument($index, doc);" class="btn btn-sm btn-danger" title="Remove document">&times</button>
      </div>
    </div>
  </li>
</ol>

<div ng-if="editing">
  <div class="form-group">
    <div class="row">
      <div class="col-1-3">
        <label>Title</label>
        <input type="text" class="form-control" ng-model="editing.title" placeholder="Document Title">
      </div>

      <div class="col-1-3">
        <label>Type</label>
        <select class="form-control" ng-model="editing.documentType" ng-options="dt.documentType as dt.displayDocumentType for dt in docTypes | orderBy:'displayDocumentType'">
          <option value="">Select document type</option>
        </select>
      </div>

      <div class="col-1-3">
        <label>Upload File</label>
        <input type="file" accept=".pdf" class="form-control" ng-model="editing.document" ng-file-select="onFileSelect($files)" placeholder="Choose file">
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-sm btn-success" ng-click="uploadDocument();"><i class="icon icon-cloud-upload"></i> Upload and Add to Request</button>
  <button type="button" class="btn btn-sm btn-default" ng-click="cancelUpload();">Cancel</button>

</div>
<button type="button" ng-if="!editing" class="btn btn-sm btn-default" ng-click="addDocument();">Add Document</button>
