<input type="hidden" ng-model="request.requestId">
<input type="hidden" ng-model="request.opportunityId">
<input type="hidden" ng-model="request.requestType">

<div class="form-group">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" ng-model="request.title" placeholder="Request title" class="form-control">
</div>

<div class="form-group">
  <label for="abstract">Abstract</label>
  <textarea name="abstract" id="abstract" class="form-control" rows="10"
    placeholder="Describe the science that will be enabled by XSEDE resources."
    ng-model="request.abstract"></textarea>
</div>

<div class="form-group">
  <label for="keywords">Keywords</label>
  <input type="text" name="keywords" id="keywords" ng-model="request.keywords" placeholder="Enter multiple keywords separated commas" class="form-control">
</div>

<label>Field of Science</label>
<div class="form-group" ng-repeat="fos in request.fos">
  <div class="row">
    <div class="col-4-5">
      <select ng-model="fos.fosTypeId" id="fos_{{$index}}" class="form-control" ng-options="field.fosTypeId as field.fosName for field in fields|orderBy:'fosName'">
        <option value="">Choose one</option>
      </select>
    </div>
    <div class="col-1-5">
      <div class="row">
        <div class="col-2-3">
          <label><input ng-model="fos.isPrimary" ng-checked="fos.isPrimary" type="checkbox" ng-change="selectPrimaryFos($index);"> Primary</label>
        </div>
        <div class="col-1-3">
          <a ng-click="removeFos($index);" class="btn btn-danger btn-xs">&times;</a>
        </div>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-default" ng-click="addFos();">Add Field of Science</button>
