<div class="row">
  <div class="col-3-5">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="search.username" placeholder="Enter username to lookup" ng-enter="addRole();">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="addRole();">
            <i class="icon icon-search"></i> Find &amp; Add to Request
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="col-2-5">
    <span ng-if="loading" class="form-status">
      <i class="icon icon-spinner icon-spin"></i> Looking up person...
    </span>
  </div>
</div>

<div ng-repeat="role in request.roles|filter:isNotUser" class="row">
  <div class="col-2-5">
    <label>Person</label>
    <address xras-person person="role.person"></address>
  </div>
  <div class="col-2-5">
    <label>Role</label>
    <select class="form-control" ng-model="role.roles[0].role" ng-options="r.roleType as r.displayRoleType for r in availableRoles | filter:singlePiRole(role) | orderBy:'displayRoleType'">
      <option value="">Select role</option>
    </select>
  </div>
  <div class="col-1-5" ng-if="! isCurrentUser(role.person.username);">
    <label>&nbsp;</label>
    <div><a class="btn btn-sm btn-danger" ng-click="removeRole(role);" title="Remove role">&times</a></div>
  </div>
</div>
