<h4>Opportunity Information</h4>
<table class="table table-bordered">
  <tbody>
    <tr xras-attr-set-display ng-repeat="attrSet in opportunity.attributeSets" attribute-set="attrSet" values="action.opportunityAttributes"></tr>
    <tr style="visibility:hidden"><td width="33%"></td><td></td></tr>
  </tbody>
</table>

<h4>Resources</h4>
<p ng-if="action.resources.length === 0" class="alert alert-info">No resources requested!</p>
<ol ng-if="action.resources">
  <li ng-repeat="resource in action.resources">
    <div class="request-resource">
      <p>{{resource.resourceName}}</p>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td width="33%"><b>Amount requested</b></td>
            <td>{{resource.amount}}</td>
          </tr>
          <tr ng-if="resource.comments">
            <td><b>Comments</b></td>
            <td>{{resource.comments}}</td>
          </tr>
          <tr xras-attr-set-display
            ng-repeat="attrSet in selectedResources[action.actionId][resource.resourceId].attributeSets"
            attribute-set="attrSet" values="action.resourceAttributes[resource.resourceId]">
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</ol>
