<div ng-if="action.userComments">
  <h4>Comment/Justification</h4>
  <p>{{action.userComments}}</p>
</div>

<div ng-if="action.allocationDates">
  <h4>Requested Extension</h4>
  <span ng-repeat="date in action.allocationDates">
    {{date.endDate}}
  </span>
</div>

<div ng-if="action.resources">
  <h4>Resources</h4>
  <ol>
    <li ng-repeat="resource in action.resources">
      <div class="request-resource">
        <p>{{resource.resourceName}}</p>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td width="33%"><b>Amount requested</b></td>
              <td>{{resource.amount}}</td>
            </tr>
            <tr ng-if="resource.comments">
              <td><b>Comments</b></td>
              <td>{{resource.comments}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ol>
</div>
